@charset "utf-8";
/* CSS Document */

body{
	padding-top:70px;
	padding-bottom:20px;
	background:url('../img/food.jpg');
	.background:rgba(51,153,102,1);
}
th, td {
    padding: 5px;
    text-align: left;
	background-color: #4CAF50;
    color: black;
}
th{
  color: white;
  text-align:center;  
}
table, th, td {
    border: 1px solid black;
}
a{
	color: white;
}

